* {
margin: 0;
box-sizing: border-box;
}

.bck {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;  
  opacity: 0.7;
} /* all background images */

.sec1 {
  height: 100vh;
  background-image: url("./img/Image1.jpg");
} /* first background image */

.sec2 {
  background-image: url("./img/Image2.jpg");
  height: 400px;
} /* second background image */

.sec3 {
  background-image: url("./img/Image3.jpg");
  height: 400px;
} /* third background image */

.sec4 {
  background-image: url("./img/Image1.jpg");
  height: 1000px;
} /* last background image */

#parallax {
  height: 60px;
  width: 400px;
  background-color: rgb(63, 60, 60);
  text-align: center;
  padding: 10px;
  margin: auto;
  position: relative;
  top: 450px;
} /* paragraph div on first background img */

#p1 {
  color: white;
  font-size: 30px;
} /* in parallax */

.parg1 {
  height: 100%;
  background-color: rgb(236, 234, 234);
  text-align: center;
  padding: 50px;
} /* first paragraph section */

.middle1 {
  height: 60px;
  width: 400px;
  text-align: center;
  margin:auto;
  padding: 20px;
  position: relative;
  top: 150px;
} /*image two text div */

#p2 {
  color: white;
  font-size: 30px;
} /* in middle1 */

.parg2 {
  height: 100%;
  background-color: black;
  text-align: center;
  padding: 50px;
  color: white;
} /* second paragraph section */


.middle2 {
  height: 60px;
  width: 400px;
  text-align: center;
  margin:auto;
  padding: 20px;
  position: relative;
  top: 150px;
} /* image three text div */

#p3 {
  color: white;
  font-size: 30px;
} /* in middle2 */

.parg3 {
   height: 100%;
  background-color: black;
  text-align: center;
  padding: 50px;
  color: white;
} /* third paragraph section */

#fullstack {
  height: 60px;
  width: 600px;
  background-color: rgb(63, 60, 60);
  text-align: center;
  padding: 10px;
  margin: auto;
  position: relative;
  top: 450px;
} /* last image text div */

#p4 {
  color: white;
  font-size: 30px;
} /* in fullstack */